.clickable {
  box-shadow: 0 0 3px black;
  cursor: pointer;
}

.clickable:hover {
  transform: scale(1.01);
  box-shadow: 0 0 7px black;
}

.menu-anchor:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px #888888;
}

.modal-dialog .modal-content {
  background-color: #6c757d;
}

.modal-content .modal-header {
  border-bottom: #6c757d;
}

#root .btn {
  color: black;
}

#root {
  height: 100vh;
}

.max-height {
  height: 100%;
}
