.clickable {
  box-shadow: 0 0 3px #888888;
  cursor: pointer;
}

.clickable:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px #888888;
}
/* 
.modal-dialog .modal-content {
  background-color: #992be3;
} */
